{% extends "base.html" %}

    {% block content %}
        <h1 class="heading">List Of All Notes</h1>
        <p class="right"><a href="{% url 'note.new'%}" class="link-btn">Create Note</a></p>
            
            {% for notes in allNotes %}
                <div style="width: 100%; border-bottom: 1px solid lightgray;">
                    <div style="width: 70%;">
                        <a href="{% url 'note.detail' pk=notes.id %}" class="link">
                                <h3 style="padding: 0px; margin: 0px;">{{notes.title|truncatechars:40}}</h3>
                            </a>
                            <p style="padding: 0px; margin: 0px;margin-top: 10px;">{{notes.text|truncatechars:30}}</p>
                    </div>
                    <div style="width: 27%; margin-left: 2%; float: right;">
                        <a href="{% url 'note.update' pk=notes.id %}" class="" >Edit</a>
                    </div>
                </div>
            {% endfor %}
            
            <table class="mt20">
                {% for notes in allNotes %}
                    <tr>
                        <td class="td">
                            <a href="{% url 'note.detail' pk=notes.id %}" class="link">
                                <h3 style="padding: 0px; margin: 0px;">{{notes.title|truncatechars:40}}</h3>
                            </a>
                            <p style="padding: 0px; margin: 0px;margin-top: 10px;">{{notes.text|truncatechars:30}}</p>
                        </td>
                        <td class="td">
                            <a href="{% url 'note.update' pk=notes.id %}" class="" >Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% endblock%}


<!-- {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Note Lists</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        <img src="https://maxmautner.com/public/images/django.gif" class="img"/>
        <h2 class="heading">List Of All Notes</h2>
        {% for notes in allNotes %}
            <p class="list-title"><strong>{{notes.id}}.</strong> {{notes.title}}</p>
        {% endfor %}
    </body>

</html> -->
