{% extends "base.html" %}

    {% block content %}
        <!-- <img src="https://maxmautner.com/public/images/django.gif" class="img"/> -->
        <p class="left">
            <a href="{% url 'note.list'%}" class="link-btn">Back</a>
        </p><h1 class="title">{{note.title}}</h1>
        <p class="p">{{note.text}}</p>
    {% endblock%}


<!-- {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Notes Detail</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        <img src="https://maxmautner.com/public/images/django.gif" class="img"/>
        <h1 class="title">{{note.title}}</h1>
        <p class="p">{{note.text}}</p>
    </body>

</html> -->
