{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <title>ALL NOTES</title>
    </head>

    <div class="myForm">
        <h1 class="">List Of All Notes</h1>
        <div>
            {% for notes in allNotes %}
                <div class="item-div">
                    <div class="left item-left">
                        <h3 style="padding: 0px; margin: 0px;">{{notes.title|truncatechars:40}}</h3>
                        <p class="p-detail" style="margin: 0px;margin-top: 5px;">{{notes.text|truncatechars:60}}</p>
                    </div>
                    <div class="right item-right">
                        <a href="{% url 'note.detail' pk=notes.id %}" class="link ml10"><img src="{% static 'icons/view24.png' %}" class="icon" alt="view icon" /></a>
                        <a href="{% url 'note.update' pk=notes.id %}" class="link ml10"><img src="{% static 'icons/edit24.png' %}" class="icon" alt="edit icon" /></a>
                        <a href="{% url 'note.delete' pk=notes.id %}" class="link ml10" style="color: #F00;"><img src="{% static 'icons/delete24.png' %}" class="icon" alt="edit icon" /></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}
