{% extends "base.html" %}

    {% block content %}
        <!-- <img src="https://maxmautner.com/public/images/django.gif" class="img"/> -->
        <h1 class="heading">List Of All Notes</h1>
        
        {% for notes in allNotes %}
            <a href="{% url 'note.detail' pk=notes.id %}" class="link" >
                <p class="list-title">
                    <strong>{{notes.id}}.&nbsp;  {{notes.title}}</strong>
                    <br>{{notes.text|truncatechars:20}}
                </p>
            </a>
        {% endfor %}

    {% endblock%}


<!-- {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Note Lists</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>
        <img src="https://maxmautner.com/public/images/django.gif" class="img"/>
        <h2 class="heading">List Of All Notes</h2>
        {% for notes in allNotes %}
            <p class="list-title"><strong>{{notes.id}}.</strong> {{notes.title}}</p>
        {% endfor %}
    </body>

</html> -->
