{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <title>LOG IN</title>
    </head>

    <div>
        <img src="{% static 'icons/logo.gif' %}" class="logo"/>
        <div style="width: max-content; background-color: aqua; margin: auto; padding: 40px 60px; border-radius: 10px;">
            <form method="POST" class="center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="loginButton loginButton1">LOG IN</button>
            </form>
        </div>
    </div>
{% endblock%}
