{% extends "base.html" %}

    {% block content %}
        <div class="mt30">
            <!-- <p class="left">
                <a href="{% url 'note.list'%}" class="link-btn">Back</a>
            </p> -->

            <img src="https://maxmautner.com/public/images/django.gif" class="img" height="200px"/>
            <div style="width:50%; background-color: aqua; margin: auto;padding: 40px; border-radius: 10px;">
                <h2 class="center">Hope to see you soon :)</h2>
            </div>
        </div>
    {% endblock%}
