{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <title>HOME</title>
    </head>

    <div>
        <img src="{% static 'icons/logo.gif' %}" class="logo"/>
        <h1 class="center">Welcome On My Django Site.</h1>
        <p class="p-detail center">Today is {{today}}</p>
        <p class="p center mt30">
            <a href="{% url 'note.list' %}" class="button button20 button50A" style="letter-spacing: 2px;">VIEW NOTES</a>
        </p>
    </div>
{% endblock%}
