/* * {
    padding: 0px;
    margin: 0px;
} */
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.ma {
    margin: auto;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mb5 {
    margin-bottom: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mr5 {
    margin-right: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr30 {
    margin-right: 30px;
}
.ml5 {
    margin-left: 10px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}
.pt {
    padding-top: 30px;
}
.pb30 {
    padding-bottom: 30px;
}

body {
    /* background-color: rgba(227, 225, 225, 0.927); */
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: auto;
    width: 100%;
}
.body {
    padding-bottom: 20px;
    margin-top: 70px;
}
.link {
    text-decoration-line: none;
    color: black;
}
.logo {
    margin-left: 30%;
    width: 40%;
    height: 250px;
}
.title {
    text-align: left;
}
.list-title {
    margin-top: 10px;
    border-bottom: 1px solid rgba(129, 127, 127, 0.167);
    padding-bottom: 10px;
}
.text {
    text-align: left;
    border-bottom: 1px solid rgba(129, 127, 127, 0.167);
    padding-bottom: 10px;
}

.link-btn {
    background-color: #390909;
    text-decoration-line: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 8px 30px;
    color: white;
}

.sub-btn {
    background-color: #390909;
    color: #fff;
}

.loginButton {
    border: none;
    color: #390909;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 700;
}
.loginButton1 {
  background-color: white; 
  color: black; 
  border: 0.51px solid #422c2c;
}
.loginButton1:hover {
  background-color: aqua;
  color: black;
}

/* FOR FORM */
.myForm {
    width: 50%;
    margin: auto;
}
.input {
    background-color: #e2e2e27d;
    margin-bottom: 20px;
    border-width: 0.5px;
    border-style: solid;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 8px 7px;
    font-size: 16px;
    width: 100%;
}
.title-input {
}
.text-input {
}
label {
    color: rgb(117, 112, 112);
    text-transform: capitalize;
    text-align: left;
    font-weight: 600;
    margin-left: 6px;
    font-size: 16px;
    width: 100%;
}

.icon {
    /* height: 25px; */
    padding: 2px;
}

/* FOR MOBILE DEVICE 300px to 425px */
@media (min-width: 300px) and (max-width: 500px) {
    .myForm {
        width: 90%;
        margin: auto;
    }
    .img {
        margin-left: 20%;
        /* margin: auto; */
        width: 60%;
        height: 200px;
    }
    .body {
        margin-top: 50px;
    }
    .icon {
        height: 20px;
    }
    .item-right {
        padding-right: 10px;
        margin-top: 10px;
    }
}
@media (min-width: 501px) and (max-width: 900px) {
    .myForm {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 901px) and (max-width: 1100px) {
    .myForm {
        width: 70%;
        margin: auto;
    }
}
@media (min-width: 1101px) and (max-width: 1500px) {
    .myForm {
        width: 60%;
        margin: auto;
    }
}

input {
    /* width: 100%; */
    /* height: 40px; */
}


.item-div {   
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 25px;
    clear: both;
    float: right;
    width: 100%;
}
.item-left {
    padding-left: 1px;
}
.item-right {
    padding-right: 10px;
    margin-top: 2px;
}
